@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .nav-links {
    @apply my-1
  }

  .nav-links li {
    @apply my-4;
  }
}

@layer utilities {
  @media (min-width: 768px) {
    .nav-links {
      @apply my-2
    }

    .nav-links li {
      @apply px-2
    }

    .nav-links li:hover {
      @apply bg-[#0042CC] text-[#FFFFFF] rounded
    }
  }

  @media (max-width: 640px) {
    .nav-links li {
      @apply p-2
    }

    .nav-links li:hover {
      @apply bg-[#0042CC] text-[#FFFFFF]
    }
  }
}